$emphasis: #34495E;
$bg: #F5F5F5;
$interactive: #7FB3D5;
$success: #2ECC71;
$text: #000000;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$fontStandart: 'Anton';
$fontText: 'Roboto';

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
}