@import '../../styles/variaveis';


.principal {
    font-family: $fontText;
    @include flexCenter(column);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    h1 {}

    .image {
        width: 60%;
        height: 100%;
    }

    p {}

    .horizontal {
        text-align: center;
    }

    .card {
        @include flexCenter(column);
        align-items: center;
        text-align: center;

        .image {
            width: 60%;
            height: 100%;
        }
    }
}